.disk{
overflow: hidden;
margin-left: 30px;
margin-top: 20px;
}

.disk img{
width:300px;
}
.disk  h2{
margin-bottom:2px;
}

.disk ul{
 list-style-type:none;

}
.disk ul li{
float:left;
}

.text{
text-align:center;
}